################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/insertstocl/.vs/insertstocl/v15/Server/sqlite3
/.vs/insertstock/v15
/.vs
/insertstocl/insertstocl/obj/Release
/insertstocl/insertstocl/obj/Debug
